/* Abo.css */

.Abo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--background);
  }
  
  .aboContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
  }
  
  .titleWrapper {
    width: 80vw;
    background-color: var(--contentBackground);
    padding: 20px;
    margin: 20px 0;
    color: var(--text);
    line-height: 1.6;
    font-size: 130%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .textWrapper {
    width: 80vw;
    padding: 20px;
    margin: 20px 0;
    color: var(--text);
    line-height: 1.6;
    font-size: 130%;
    text-align: center;
  }
  
  .textSegment {
    background-color: var(--contentBackground);
    padding: 20px;
    margin: 10px;
    color: var(--text);
    line-height: 1.6;
    font-size: 130%;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .titleWrapper, .textWrapper {
      width: 90vw;
      flex-direction: column;
      align-items: center;
    }
  
    .textSegment {
      width: 100%;
      margin: 10px 0;
    }
  }
  