/* About.css */

#root {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--background);
}

.aboutContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleWrapper {
  width: 80vw;
  background-color: var(--contentBackground);
  color: var(--text);
  line-height: 1.6;
  font-size: 130%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textWrapper {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}

.textSegment {
  background-color: var(--contentBackground);
  color: var(--text);
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textSegment p{
  font-size: 90%;
}



@media (max-width: 768px) {
  .titleWrapper, .textWrapper {
    width: 90vw;
    flex-direction: column;
    align-items: center;
  }

  .textSegment {
    width: 100%;
    margin: 10px 0;
  }
}


