#root{
    height: 100vh;
    width: 100%;
}

.App{
    height: 100%;
    width: 100%;
}

.article-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Optional: Für eine ansprechende Breite des Formulars */
    margin: auto; /* Zentriert das Formular */
  }
  
  .article-form input[type="text"],
  .article-form textarea {
    width: calc(100% - 22px); /* Abzug der Padding-Werte */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #007bff; /* Sanftes Blau statt Grün */
    border-radius: 4px;
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border im Width enthalten sind */
  }

  .article-form label {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #333; /* Dunkelgrau für bessere Lesbarkeit */
    font-size: 16px; /* Eine angemessene Schriftgröße für Labels */
  }

  .article-form input[type="text"]:focus,
  .article-form textarea:focus {
  outline: none;
  border-color: #0056b3; /* Ein dunkleres Blau für den Fokus-Zustand */
  box-shadow: 0 0 0 2px rgba(0,86,179,0.2); /* Ein leichter Schatten für den Fokus-Zustand */
}
  
.article-form button {
    background-color: #007bff; /* Sanftes Blau */
    color: white; /* Weiße Textfarbe */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; /* Ermöglicht es, Größe und Abstand anzupassen */
    margin-top: 20px; /* Ein bisschen Abstand nach den Eingabefeldern */
  }
  
  .article-form button:hover {
    background-color: #0056b3; /* Dunkleres Blau für Hover-Effekt */
  }