
  #root {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--background);
  }
  
  .App {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      background-color: var(--background);
      height: 100vh;
  }
  
  .mainContent {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--background);
      background-size: 10%;
      background-position: center;
      background-repeat: repeat;
  }
  
  .ContentTitel {
      width: 80vw;
      color: var(--text); /* Ensures text is easily readable */
      background-color: var(--contentBackground); /* A lighter background for the content area */
      padding: 20px 40px; /* Adjust padding for better spacing */
      margin: 20px 0; /* Keeps the adjusted spacing */
      /* border-radius: 25px; */
      box-shadow: 0 8px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */
      font-size: 130%;
  }
  
  h1 {
      color: var(--secondary); /* Makes the title stand out */
  }
  
  p {
      color: var(--text); /* Ensures paragraph text is easily readable */
  }
  
  body, h1, p, a {
    color: var(--text); /* This applies the text color universally */
    font-family: Cambria, Cochin, New Roman, serif;
}