
  #root {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--background);
  }
  
  .App {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      background-color: var(--background);
      height: 100vh;
  }
  
  .mainContent {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--background);
      width: 80vw;
      margin-left: 10vw;
  }
  
  
  .articlesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px; /* Adjust as necessary for spacing */
  }
  
  @media (max-width: 768px) {
    .articlesContainer {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  h1 {
      color: var(--secondary); /* Makes the title stand out */
  }
  
  p {
      color: var(--text); /* Ensures paragraph text is easily readable */
  }
  
  body, h1, p, a {
    color: var(--text); /* This applies the text color universally */
    font-family: Cambria, Cochin, New Roman, serif;
}

.textSegment {
  background-color: var(--contentBackground);
  color: var(--text);
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}