#root {
    height:fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.App {
    background-color: var(--background);
    min-height: 100vh;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 500;
  }

  .article-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .article-content {
    width: 100%;
    font-family: var(--font-paragraph);
    font-size: 1.8rem;
    line-height: 3rem;
  }

  h2{
    font-weight: bold !important;
    font-size: x-large !important;
  }
  
  p {
    text-align: left;
  }

  .title{
    font-size: 4.9rem;
    line-height: 5.2rem;
    font-family: var(--font-title);
    font-weight: 600;
  }
  
  .lead{
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: 400;
    font-family: var(--font-lead);
  }
