.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 100px; /* adjust as necessary */
}

.menu-toggle {
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  z-index: 401;
}

.menu.open {
  width: 20vw;
}

.menu.closed {
  width: 0;
}

.menu-item {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: black; /* or any color */
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 400;
}

