@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Cambria, Cochin, New Roman, serif;
  line-height: 1.5;
  font-weight: 400;
  
  height: 100vh;
  width: 100vw;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #090909; 
  --background: #f9f9f9;
  --contentBackground: white; 
  --primary: #00737A; 
  --secondary: #d4b192;
  --accent: #d4955f; 

  
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


