@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Source Serif Pro", "Times New Roman", Helvetica, serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  
  height: 100vh;
  width: 100vw;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #090909; 
  --background: #f9f9f9;
  --contentBackground: white; 
  --primary: #00737A; 
  --secondary: #d4b192;
  --accent: #d4955f; 

  --font-title: "Source Serif Pro","Times New Roman",Helvetica,serif;
  --font-paragraph: "Noto Serif","Times New Roman",Helvetica,serif;
  --font-lead: "IBM Plex Sans","Helvetica",Arial,Verdana,Helvetica,sans-serif;

  
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#pageLayout{
  max-width: 70vw;
}
